<nav>
    <ul>
        <li>
        <a [routerLink]="['/kitten/create']">Create kitten</a>
        </li>
        
    </ul>

</nav>
<main>
    <!-- <router-outlet></router-outlet>
    @for (kitten of kittens; track kitten) {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{kitten.name}}</h5>
                <p class="card-text">{{kitten.age}}</p>
                
  <li>
    <a [routerLink]="['/menu/sign-up']">SignUp</a>
  </li>
            </div>
        </div>
    } -->

    <router-outlet></router-outlet>

    
    <table>

  <thead>
    <tr>
        
        <th>Name:</th>
        <th>Date de naissance:</th>
        <th>Race: </th>
        <th>Action: </th>
    </tr>
</thead>
<tbody>  
        @for (kitten of kittens; track kitten) {
           <tr>
            <td>{{kitten.name}}</td>
            <td>{{kitten.age}}</td>
            <td>{{kitten.race}}</td>
            <td>
                <button (click)="adoptKitten(kitten)">Adopt</button>
            </td>
           </tr>
        }
</tbody>
</table>

<app-user-kitten></app-user-kitten>
</main>

