<!-- <select [(ngModel)]="selectedRace">
    

@for (race of races; track race) {

    <option value="{{race}}">{{race}}</option>
}
</select> -->

<nav>
  <ul>
    @if (create== true) {
    <li>
      <a [routerLink]="['/service/create']">Create kitten</a>
    </li>

    }@else {

    <li>
      <a [routerLink]="['/service']">All kittens</a>
    </li>
    }
    <li>
      <a [routerLink]="['/service/cocktailList']">Coctails</a>

  </ul>
</nav>
<router-outlet></router-outlet>

<div class="container">
  <div class="allKittens">
    <app-list-kitten></app-list-kitten>
  </div>

  <div class="myKittens">
    <app-user-kitten></app-user-kitten>
  </div>
</div>
