<!-- <select [(ngModel)]="selectedRace">
    

@for (race of races; track race) {

    <option value="{{race}}">{{race}}</option>
}
</select> -->

<nav>
  <ul>
    @if (create== true && cocktail == true) {
    <li>
      <a [routerLink]="['/service/create']">Create kitten</a>
    </li>
    
    <li>
      <a [routerLink]="['/service/cocktailList']">Coctails</a>
    </li>


    }@else {

    <li>
      <a [routerLink]="['/service']">Return</a>
    </li>

    }
  </ul>
</nav>
<router-outlet></router-outlet>

@if (create == true && cocktail == true) {
  <div class="container">
    <div class="allKittens">
      <app-list-kitten></app-list-kitten>
    </div>
  
    <div class="myKittens">
      <app-user-kitten></app-user-kitten>
    </div>
  </div>
}
