
<div class="container">
  <h1> {{ title }}</h1>
  <p>Bienvenue sur le site de Timfa !.  🎉</p>
</div>
<div class="divider" role="separator" aria-label="Divider"></div>
<nav>
  <ul>
    <li>
      <a [routerLink]="['/']">HOME</a>
    </li>
    <li>
      <a [routerLink]="['/block']">Block</a>
    </li>
    <li>
      <a [routerLink]="['/catalogue']">Catalogue</a>
    </li>
    <li>
      <a [routerLink]="['/calculatrice']">Calculatrice</a>
    </li>
    <li>
      <a [routerLink]="['/directives']">Directives</a>
    </li>
    <li>
      <a [routerLink]="['/menu']">Menu</a>
    </li>
    <li>
      <a [routerLink]="['/my-form']">My Form</a>
    </li>
    <li>
      <a [routerLink]="['/wcs']">Search</a>
    </li>
    <li>
      <a [routerLink]="['/input']">Input()</a>
    </li>
    <li>
      <a [routerLink]="['/outpout']">Outpout()</a>
    </li>
    <li>
      <a [routerLink]="['/service']">Service</a>
    </li>
    
  </ul>
</nav>

  
<router-outlet></router-outlet>
<main>
 <div class="image">@if (apodData) {
  <h1>L'image du jour</h1>
  <h4>{{ apodData.title }}</h4>
  @if (apodData.media_type === 'image') {
    <img  [src]="apodData.url" alt="{{ apodData.title }}">}
  }
  
  
 </div>
</main>
