  nav{
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: blanchedalmond;
    margin: 0%;

    ul{
      display: flex;
      list-style: none;
      justify-content: space-between;
      li{
        margin: 0 1rem;
        a{
          text-decoration: none;
          color: black;
          cursor: pointer;

        }
      }
    }
  
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    h1 , p{
        text-align: center;
    }

  }
  