
<div class="container">
  <h1> {{ title }}</h1>
  <p>Bienvenue sur le site de Timfa !.  🎉</p>
</div>
<div class="divider" role="separator" aria-label="Divider"></div>
<nav>
  <ul>
    <li>
      <a [routerLink]="['/']">HOME</a>
    </li>
    <li>
      <a [routerLink]="['/block']">Block</a>
    </li>
    <li>
      <a [routerLink]="['/catalogue']">Catalogue</a>
    </li>
    <li>
      <a [routerLink]="['/calculatrice']">Calculatrice</a>
    </li>
    <li>
      <a [routerLink]="['/directives']">Directives</a>
    </li>
    <li>
      <a [routerLink]="['/menu']">Menu</a>
  </ul>
</nav>

  
<router-outlet></router-outlet>
<main>
 
  
</main>
