<h1>Liste des produits</h1>
<ul>
  
  <h2>Produits avec prix sans promotion</h2>
  @for( produit of pasEnPromoAvecPrix ;track produit){ 
    <li>- Nom: {{ produit.nom }} - Prix {{ produit.prix? "€" + produit.prix : "" }}</li>
  }
  
  <h2>Produits en promo</h2>
  @for( produit of enPromotion ;track produit){ 
    <li>- Nom: {{ produit.nom }} - Prix: {{produit ? "€" + produit.prix : "" }} en promo</li>
    }
    
    <h2>Produits sans prix</h2>
    @for( produit of paDePrix ;track produit){ 
      <li>- Nom:   {{ produit.nom }} pas encore de prix</li>
    }

