.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
    border: solid 1px #ccc;
    margin:10px auto;
    padding: 10px;
    h1 , p{
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            margin: 1rem;
            padding: 0.5rem;
            width: 50%;
            border-radius: 5px;
            border: 1px solid black;
        }
        button{
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid black;
            background-color: blanchedalmond;
            cursor: pointer;
        }
    }
}