
<main>
    <h1>All of kittens</h1>
    
    <table>

  <thead>
    <tr>
        
        <th>Name:</th>
        <th>Date de naissance:</th>
        <th>Race: </th>
        <th>Lien image: </th>
        <th>Action: </th>
    </tr>
</thead>
<tbody>  
        @for (kitten of kittens; track kitten) {
           <tr>
            <td>{{kitten.name}}</td>
            <td>{{kitten.age}}</td>
            <td>{{kitten.race}}</td>
            <td><a href="{{kitten.link}}" target="_blank">Photo</a></td>
            <td>
                <button (click)="adoptKitten(kitten)">Adopt</button>
            </td>
           </tr>
        }
</tbody>
</table>

</main>

